$container-max-widths: (
  sm: 540px
);

@import "~bootstrap/scss/bootstrap.scss";

.App {
  @extend .container-sm;
  text-align: center;
}

.btn {
  @extend .my-2;
  width: 100%;
}

.btn-back {
  @extend .btn-outline-danger;
}

.form-label {
  text-align: left;
  width: 100%;
}

input.form-control {
  @extend .mb-3;
}